</div>
<h1 class="text-center">Blink 182</h1>
<h2 class="text-center">Official Fanpage</h2>
<p id="home-intro">Hi my name is Andrew Young Colgan and I am the world's biggest Blink 182 fan.
I made this site so that other people like me around the world can find all the
stuff they need for their favorite band ever!</p>
<div class="home-pix container">
  <img id="home-pic1"src="/img/Blink_182_home.jpg" alt="A cool pic of Blink">
  <img id="home-pic2" src="/img/Blink_182_home2.jpg" alt="A really cool pic of Blink">
</div>
