<div class="text-center">
  <h1>You're going to see Blink 182</h1>

  <h2>Thank you <%= @name %>!</h2>
  <h3>You bought <%= @number %> ticket(s) to see Blink 182 at the <%= @show %></h3>
  <h3>A copy of your ticket will be sent to <%= @email %></h3>
</div>

<img src="/img/Blink_logo.jpg">
