<h1 class="text-center">Blink 182 Shows</h1>
<img id="shows-pic" src="/img/Blink_live.jpg" alt="A sick live blink pic">

<a href="http://www.songkick.com/artists/285202" class="songkick-widget" data-theme="dark" data-other-artists="on" data-track-button="on" data-detect-style="true" data-font-color="#1ad9f4" data-background-color="#fe1065">Blink 182 tour dates</a>
<script src="//widget.songkick.com/widget.js"></script>
